# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.nls
*.snm
*.synctex.gz
*.tdo
*.vrb
*.xdy

# LaTeX editor files
*.bak
*.backup
*.swp
*.synctex.gz
*.tmp

# Output files
modeloParcial2026.pdf
modeloParcial2026.ps
modeloParcial2026.dvi
modeloParcial2026.synctex.gz
modeloParcial2026.xdv
modeloParcial2026Notes.bib

Notes.pdf
Notes.ps
Notes.dvi
Notes.synctex.gz
Notes.xdv
NotesNotes.bib


#vscode
.vscode
.DS_Store
